In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("price.csv")
df

   price
0    100
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [6]:
x = df.copy()

In [7]:
x.head()

   price
0    100
1    105
2    115
3    120
4    110

In [8]:
x2 = x.copy()

In [9]:
x3 = x2.copy()

In [10]:
x4 = x3.copy()

In [11]:
x5 = x4.copy()

# Normalization

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
m = MinMaxScaler()

In [14]:
x['normalization_data'] = m.fit_transform(x[['price']])

In [15]:
x

   price  normalization_data
0    100                 0.0
1    105                 0.1
2    115                 0.3
3    120                 0.4
4    110                 0.2
5    130                 0.6
6    150                 1.0
7    100                 0.0
8    105                 0.1

# Standardization

In [16]:
from sklearn.preprocessing import StandardScaler
m2 = StandardScaler()

In [17]:
x2

   price
0    100
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [18]:
x2['price'].std()

16.393596310755

In [19]:
x2['price'].mean()

115.0

In [20]:
x2['standardization_data'] = m2.fit_transform(x2[['price']])

In [21]:
x2

   price  standardization_data
0    100             -0.970495
1    105             -0.646997
2    115              0.000000
3    120              0.323498
4    110             -0.323498
5    130              0.970495
6    150              2.264488
7    100             -0.970495
8    105             -0.646997

# Log Transformation

In [22]:
x3

   price
0    100
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [23]:
log_transform_data = np.log(x3['price'])

In [24]:
x3['log_transform_data'] = log_transform_data

In [25]:
x3

   price  log_transform_data
0    100            4.605170
1    105            4.653960
2    115            4.744932
3    120            4.787492
4    110            4.700480
5    130            4.867534
6    150            5.010635
7    100            4.605170
8    105            4.653960

# Robust Scaler

In [28]:
from sklearn.preprocessing import RobustScaler
m3 = RobustScaler()

In [29]:
x4

   price
0    100
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [30]:
x4['robust_data'] = m3.fit_transform(x4[['price']])

In [31]:
x4

   price  robust_data
0    100    -0.666667
1    105    -0.333333
2    115     0.333333
3    120     0.666667
4    110     0.000000
5    130     1.333333
6    150     2.666667
7    100    -0.666667
8    105    -0.333333

# Max Absolute Scaler

In [32]:
from sklearn.preprocessing import MaxAbsScaler
m4 = MaxAbsScaler()

In [33]:
x5

   price
0    100
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [34]:
x5['max_abs_data'] = m4.fit_transform(x5[['price']])

In [35]:
x5

   price  max_abs_data
0    100      0.666667
1    105      0.700000
2    115      0.766667
3    120      0.800000
4    110      0.733333
5    130      0.866667
6    150      1.000000
7    100      0.666667
8    105      0.700000